*{
    font-family: 'Libre Franklin', sans-serif;
}
#header{
    display: flex;
    justify-content: space-between;
    background-color: #FF8EAE;
    height: 100px !important;
    align-items: center !important;

}

h1{
    text-align: center;
}
#anterior{
    margin-left: 20px;
    
}
#siguiente{
    margin-right: 20px;
}
.btn-primary{
    --bs-btn-bg: #ff8eae !important;
    --bs-btn-border-color: #ff8eae !important;
    --bs-btn-active-bg: #ff497d !important;
    --bs-btn-active-border-color: #ff497d !important;
    --bs-btn-hover-bg: #ff497d !important;
    --bs-btn-hover-border-color:#ff497d !important;}

    .btn-outline-success {
        --bs-btn-color: #ff497d !important;
        --bs-btn-border-color: #ff497d !important;
        --bs-btn-hover-bg: #ff497d !important;
        --bs-btn-hover-border-color: #ff497d !important;
        --bs-btn-active-bg: #ff497d !important;
        --bs-btn-active-border-color: #ff497d !important;
        --bs-btn-disabled-color: #ff497d !important;
        --bs-btn-disabled-border-color: #ff497d !important;
    }

.cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center !important;
    justify-content: center !important;
}
.card{
    margin: 70px 50px !important;

}
.card-text{
    font-size: small !important;
    text-align: justify;
}
.card-title{
    text-align: center;
}
.card-img-top{
    height: 100px !important;

}
#nav1{
    background-color: white !important;
}
footer{
    display: flex !important;
    background-color: #FF8EAE;
    height: 50px !important;
}
ul.ulfooter{
    display: flex !important;
    align-items: center !important;
    flex-direction: row !important;
    list-style: none !important;
    align-self: center !important;
}
#cohort{
    display: flex !important;
    justify-content: center !important;
    align-self: center !important;
}
.logofooter{
    padding: 20px;
}

.form-check-inline {
font-size:small !important;
}

#form-contact{
    font-size: small;
    margin-left: 33%;
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 30px 5px 30px 5px;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 230, 230);
}
.col{
    border: 1px solid black  !important;
    height: 60px;
}
.filatitulo{
    
    font-size: x-large;
    padding: 1px;
    font-weight: bolder;
    background-color: rgb(230, 230, 230);
}
.filasubtitulo{
    font-size: 14px !important;

}
#grilla{
    margin: 10%;
    border: 1px solid black;
}