*{
    font-family: 'Libre Franklin', sans-serif;

}

#header{
    display: flex;
    justify-content: space-between;
    background-color: #FF8EAE;
    height: 6.25rem !important;
    align-items: center !important;

}
.nav-item{
    margin: 0.0625rem 0.375rem 0.0625rem 0.375rem !important;
    font-weight: bolder !important;
    border: 0.0625rem solid #ff8eae !important;
    border-radius: 0.3125rem !important;
    box-shadow: 0.125rem 0.125rem rgb(230, 230, 230) !important;
    padding: 0 0.375rem 0 0.375rem !important;

}

h1{
    text-align: center;
    text-shadow: 0.125rem 0.125rem 0.125rem white;
    color: black !important;
    font-weight: bolder;
    letter-spacing: 0.3125rem;

}
#anterior{
    margin-left: 1.25rem;
}
#siguiente{
    margin-right: 1.25rem;
}
.btn-primary{
    --bs-btn-bg: #ff8eae !important;
    --bs-btn-border-color: #ff8eae !important;
    --bs-btn-active-bg: #ff497d !important;
    --bs-btn-active-border-color: #ff497d !important;
    --bs-btn-hover-bg: #ff497d !important;
    --bs-btn-hover-border-color:#ff497d !important;
}

    .btn-outline-success {
        --bs-btn-color: white !important;
        --bs-btn-bg: #ff8eae !important;
        --bs-btn-border-color: #ff8eae !important;
        --bs-btn-active-bg: #ff497d !important;
        --bs-btn-active-border-color: #ff497d !important;
        --bs-btn-hover-bg: #ff497d !important;
        --bs-btn-hover-border-color:#ff497d !important;
    }

.cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center !important;
    justify-content: center !important;
}
.card{
    margin: 2% !important;
}
.card-text{
    font-size: small !important;
    text-align: justify;
    color: black !important;
}
.card-title{
    text-align: center;
    color: black !important;
}
.card-img-top{
    height: 9.375rem !important;
}
#nav1{
    background-color: white !important;
}
footer{
    display: flex !important;
    background-color: #FF8EAE;
    height: 3.125rem !important;
}
ul.ulfooter{
    display: flex !important;
    align-items: center !important;
    flex-direction: row !important;
    list-style: none !important;
    align-self: center !important;
}
#cohort{
    display: flex !important;
    justify-content: center !important;
    align-self: center !important;


}
.logofooter{
    padding: 20px;
}
.container-fluid{
    align-items: center !important;
    justify-content: center !important;

}
.formulariocategory{
    background-color: rgb(255, 223, 181) !important;
}
.form-check-inline {
font-size:medium !important;
margin: 2% !important;
}
.form-check-input:checked {
    background-color: gold !important;
    border-color: gold !important;
}

#form-contact{
    font-size: small;
    margin: 2% auto;
    padding: 1.875rem 0.3125rem 1.875rem 0.3125rem;
    display: flex;
    border: 0.125rem solid lightsalmon;
    border-radius: 1.25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 223, 181) !important;
}

table{
    max-width: 75%;
    margin: 2% auto;
    border: 0.1875rem solid lightsalmon !important;


}

th{
    height: 4.375rem !important;
    text-align: center !important;
    padding-top: 1.25rem !important;
    letter-spacing: 0.3125rem !important;
    font-size: x-large !important;
    background-color: rgb(255, 223, 181) !important;
    text-shadow: 0.125rem 0.125rem 0.125rem white !important;
}

.card-individual{
    border: 0.1875rem solid lightsalmon !important;
    margin: 5% auto !important;
    border-radius: 0.625rem !important;
    background-color: lightsalmon;
}

.div-details-section{
    padding: 1.25rem !important;
    background-color: rgb(255, 223, 181) !important;
    border-radius: 0.625rem !important;
    margin: 0.625rem;

}
.img-details{
width: 100%;
height: 100%;
}
.card-text-individual{
    margin: 0.625rem !important;
    line-height: 3;
    text-align: justify;
    padding: 0.3125rem !important;
}
.card-title{
    text-align: center !important;
    letter-spacing: 0.3125rem !important;
    font-size: x-large !important;
    text-shadow: 0.125rem 0.125rem 0.125rem white !important;

}
.card-title-individual{
    padding: 0.3125rem !important;
}