*{
    font-family: 'Libre Franklin', sans-serif;
}

#header{
    display: flex;
    justify-content: space-between;
    background-color: #FF8EAE;
    height: 6.25rem !important;
    align-items: center !important;
}


/* BARRA DE NAVEGACION */
.nav-item{
    margin: 0.0625rem 0.375rem 0.0625rem 0.375rem !important;
    font-weight: bolder !important;
    border: 0.0625rem solid #ff8eae !important;
    border-radius: 0.3125rem !important;
    box-shadow: 0.125rem 0.125rem rgb(230, 230, 230) !important;
    padding: 0 0.375rem 0 0.375rem !important;
}

h1{
    text-align: center;
    text-shadow: 0.125rem 0.125rem 0.125rem white;
    color: black !important;
    font-weight: bolder;
    letter-spacing: 0.3125rem;
}

#anterior{
    margin-left: 1.25rem;
}
#siguiente{
    margin-right: 1.25rem;
}
.btn-primary{
    --bs-btn-bg: #ff8eae !important;
    --bs-btn-border-color: #ff8eae !important;
    --bs-btn-active-bg: #ff497d !important;
    --bs-btn-active-border-color: #ff497d !important;
    --bs-btn-hover-bg: #ff497d !important;
    --bs-btn-hover-border-color:#ff497d !important;
}

    .btn-outline-success {
        --bs-btn-color: white !important;
        --bs-btn-bg: #ff8eae !important;
        --bs-btn-border-color: #ff8eae !important;
        --bs-btn-active-bg: #ff497d !important;
        --bs-btn-active-border-color: #ff497d !important;
        --bs-btn-hover-bg: #ff497d !important;
        --bs-btn-hover-border-color:#ff497d !important;
    }

    /* ESTILO DE LAS CARDS */

.cards{
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    max-width: 1200px !important; /* Ancho máximo del contenedor de las tarjetas */
    margin: 0 auto !important; /* Centrar el contenedor en la página */
}
.card{
    margin: 2% !important;
    width: calc(33.33% - 4%) !important; /* Ancho del 33.33% del contenedor, descontando los márgenes */
    height: auto !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
}
.card-body {
    padding: 1rem !important;
}
.card-text{
    font-size: small !important;
    text-align: justify;
    color: black !important;
    margin-bottom: 1rem !important;
}
.card-title{
    text-align: center;
    color: black !important;
    font-size: 1.25rem !important;
    margin-bottom: 0.5rem !important;
}
.card-img-top{
    max-width: 100% !important;
    height: 200px !important;
    object-fit: cover !important;
}

#nav1{
    background-color: white !important;
}
/* //////////////////////////////////FOOTER ///////////////////////// */
footer{
    display: flex;
    background-color: #FF8EAE;
    height: 3.125rem;
    border-top: 1px solid #ccc;
    margin-top: 2rem;
}

ul.ulfooter{
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

li.li-footer {
    margin-right: 1rem;
}

#cohort{
    display: flex;
    justify-content: center;
    align-self: center;
    color: #fff;
    font-size: 0.875rem;
    margin-top: 1rem;
}

.logofooter{
    padding: 20px;
}

/* //////////////////////////////////////////////////////// */

.container-fluid{
    align-items: center !important;
    justify-content: center !important;

}

/* /////////FORMULARIO CATEGORY ///////////*/

.bg-body-tertiary {
    --bs-bg-opacity: 0 !important;
}
#navbargral{
    background-color: rgba(255, 160, 122, 0.5) !important;
}
.form-check-inline {
    font-size: medium !important;
    padding-right: 1rem !important;
}
.form-check-input:checked {
    background-color: gold !important;
    border-color: gold !important;
}
.form-control {
    max-width: 400px !important;
}
 .form-control:focus {   /*Cambiar el color de fondo y borde del input cuando está activo (tiene el foco), para que se vea más claro que está seleccionado */
    background-color: #fff !important;
    border-color: gold !important;
    box-shadow: none !important;
}
.formulariocategory {
    display: flex !important;
    align-items: center !important;
    margin: auto !important;
}
.custom-list-unstyled li button {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
    text-decoration: underline !important;
    color: inherit !important;
    cursor: pointer !important;
}
.navbar {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    width: 90% !important;
    max-width: 1200px !important;
    margin: 0 auto !important;
}

/* ///////////////////////////////////// */

#form-contact{
    font-size: small;
    margin: 2% auto;
    padding: 1.875rem 0.3125rem 1.875rem 0.3125rem;
    display: flex;
    border: 0.125rem solid lightsalmon;
    border-radius: 1.25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 223, 181) !important;
}

table{
    max-width: 75%;
    margin: 2% auto;
    border: 0.1875rem solid lightsalmon !important;


}

th{
    height: 4.375rem !important;
    text-align: center !important;
    padding-top: 1.25rem !important;
    letter-spacing: 0.3125rem !important;
    font-size: x-large !important;
    background-color: rgb(255, 223, 181) !important;
    text-shadow: 0.125rem 0.125rem 0.125rem white !important;
}
/* ////////// DETAILS ///////// */
.main-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100vh !important;
}

.card-large {
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .card-large {
    max-width: none;
    }
}
.div-details-section{
    padding: 1.25rem !important;
    background-color: rgb(255, 223, 181) !important;
    border-radius: 0.625rem !important;
    margin: 0.625rem;
}
.img-details{
    width: 100%;
    height: 100%;
}
.card-text-individual{
    margin: 0.625rem !important;
    line-height: 3;
    text-align: justify;
    padding: 0.3125rem !important;
}
.card-title{
    text-align: center !important;
    letter-spacing: 0.3125rem !important;
    font-size: x-large !important;
    text-shadow: 0.125rem 0.125rem 0.125rem white !important;
}
.card-title-individual{
    padding: 0.3125rem !important;
}
.card-individual{
    border: 0.1875rem solid lightsalmon !important;
    margin: 5% auto !important;
    border-radius: 0.625rem !important;
    background-color: lightsalmon;
}

/* //////////////////////////////////////// */

.custom-list-unstyled {
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
    display: flex !important;
    align-items: center !important;
}
.custom-list-unstyled li {
    margin-right: 1rem !important;
}
.custom-list-unstyled li::marker {
    display: none !important;
}
